@tailwind base;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg-primary: #8c1d40;
  --color-bg-secondary: #ffc627;
  --color-bg-tertiary: #747474;
  --color-bg-quaternary: #af674b;
  --color-bg-lightgray: #9b9b9b;
  --color-bg-black: #212121;
  --color-bg-white: #ffffff;
  --color-text-primary: #2d333a;
  --color-text-secondary: #565869;
  --color-text-gray-200: #e5e7eb;
  --color-text-gray-400: #9ca3af;
}

@layer components {
  .infoText {
    @apply p-4 bg-gray-700/50 rounded-lg w-auto;
  }
  .chatRow {
    @apply rounded px-3 py-3 text-sm flex items-center justify-center hover:bg-[var(--color-bg-quaternary)] cursor-pointer text-gray-300 transition-all duration-200 ease-out;
  }
  .display-linebreak {
    white-space: pre-line;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .shadow-depth {
    box-shadow:
      0 4px 8px rgba(0, 0, 0, 0.2),
      0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.App {
  text-align: center;
}